/* .dot {
  margin-top: 1px;
  margin-right: 7px;
  font-size: 12px;
  font-weight: 900;
} */

.smallText {
  font-size: 0.5rem;
}

.smallTextSecond{
  font-size: 0.7rem;
  padding-left: 0.5rem;
}


.bgColor{
  background-color: #215064;
  font-size: 12pt;
  width: 800px;
  margin-top: 7.8rem;
}

.underLineText{
  text-decoration: underline;
  text-underline-offset: 1px;
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loadingSpinner {
  color: white;
  font-size: 20px;
}

@media print {
  .page-break {
    page-break-before: always;
  }
}



/* style={{
  visibility: "visible", // Ensure the content is visible for rendering
  position: "absolute",
  left: "-9999px", // Move off-screen if needed
}} */