.dot {
  margin-top: 1px;
  margin-right: 7px;
  font-size: 12px;
  font-weight: 900;
}

.smallText {
  font-size: 0.5rem;
}


.bgColor{
  background-color: #215064;
}

.underLineText{
  text-decoration: underline;
  text-underline-offset: 10px;
}